Repository hackoregon/civic, pull requests merged in 2019-09, with the labels that each got.

#903 A new button component for the Civic Platform
  packages/component-library/src/ButtonNew/ButtonNew.js
  packages/component-library/src/index.js
  packages/component-library/stories/ButtonNew.story.js
  packages/component-library/stories/buttonNew.notes.md
  packages/component-library/stories/index.js
Labels: type:Storybook, type:component-lib

#909 Feature/items for screens
  packages/project-disaster-trail/src/components/Game/KitScreen/index.js
  packages/project-disaster-trail/src/components/Game/OrbManager.js
  packages/project-disaster-trail/src/components/Game/OrbManagerHelpers.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/index.js
Labels: project:disaster-resilience

#910 Material UI Theme for Radio Button Group
  packages/component-library/package.json
  packages/component-library/src/RadioButtonGroup/RadioButtonGroup.js
  packages/component-library/src/_Themes/MaterialUI/MaterialUITheme.js
  packages/component-library/src/_Themes/index.js
  yarn.lock
Labels: type:component-lib

#915 Feature/svgs
  packages/project-disaster-trail/assets/corn-color.svg
  packages/project-disaster-trail/assets/corn.svg
  packages/project-disaster-trail/assets/fire.svg
  packages/project-disaster-trail/assets/first-aid-kit-color.svg
  packages/project-disaster-trail/assets/first-aid-kit.svg
  packages/project-disaster-trail/assets/flashlight-color.svg
  packages/project-disaster-trail/assets/flashlight.svg
  packages/project-disaster-trail/assets/hunger.svg
  packages/project-disaster-trail/assets/injury.png
  packages/project-disaster-trail/assets/kit_icons/filled-blanket.svg
  packages/project-disaster-trail/assets/kit_icons/filled-dust-mask.svg
  packages/project-disaster-trail/assets/kit_icons/filled-first-aid-kit.svg
  packages/project-disaster-trail/assets/kit_icons/filled-flashlight.svg
  packages/project-disaster-trail/assets/kit_icons/filled-food.svg
  packages/project-disaster-trail/assets/kit_icons/filled-protective-gear.svg
  packages/project-disaster-trail/assets/kit_icons/filled-rope.svg
  packages/project-disaster-trail/assets/kit_icons/filled-tent.svg
  packages/project-disaster-trail/assets/kit_icons/filled-water.svg
  packages/project-disaster-trail/assets/kit_icons/unfilled-blanket.svg
  packages/project-disaster-trail/assets/kit_icons/unfilled-dust-mask.svg
  packages/project-disaster-trail/assets/kit_icons/unfilled-first-aid-kit.svg
  packages/project-disaster-trail/assets/kit_icons/unfilled-flashlight.svg
  packages/project-disaster-trail/assets/kit_icons/unfilled-food.svg
  packages/project-disaster-trail/assets/kit_icons/unfilled-protective-gear.svg
  packages/project-disaster-trail/assets/kit_icons/unfilled-rope.svg
  packages/project-disaster-trail/assets/kit_icons/unfilled-tent.svg
  packages/project-disaster-trail/assets/kit_icons/unfilled-water.svg
  packages/project-disaster-trail/assets/peas-color.svg
  packages/project-disaster-trail/assets/peas.svg
  packages/project-disaster-trail/assets/rubble.svg
  packages/project-disaster-trail/assets/smartphone-color.svg
  packages/project-disaster-trail/assets/smartphone.svg
  packages/project-disaster-trail/assets/task_icons/cold.svg
  packages/project-disaster-trail/assets/task_icons/dust.svg
  packages/project-disaster-trail/assets/task_icons/fire.svg
  packages/project-disaster-trail/assets/task_icons/hole.svg
  packages/project-disaster-trail/assets/task_icons/hunger.svg
  packages/project-disaster-trail/assets/task_icons/injury.svg
  packages/project-disaster-trail/assets/task_icons/lost-pet.svg
  packages/project-disaster-trail/assets/task_icons/rubble.svg
  packages/project-disaster-trail/assets/task_icons/thirst.svg
  packages/project-disaster-trail/assets/task_icons/weather.svg
  packages/project-disaster-trail/assets/task_scenes/scene-cold.svg
  packages/project-disaster-trail/assets/task_scenes/scene-dust.svg
  packages/project-disaster-trail/assets/task_scenes/scene-fire.svg
  packages/project-disaster-trail/assets/task_scenes/scene-hole.svg
  packages/project-disaster-trail/assets/task_scenes/scene-hunger.svg
  packages/project-disaster-trail/assets/task_scenes/scene-injury.svg
  packages/project-disaster-trail/assets/task_scenes/scene-lost-pet.svg
  packages/project-disaster-trail/assets/task_scenes/scene-rubble.svg
  packages/project-disaster-trail/assets/task_scenes/scene-thirst.svg
  packages/project-disaster-trail/assets/task_scenes/scene-weather.svg
  packages/project-disaster-trail/assets/thirsty.svg
  packages/project-disaster-trail/assets/water-color.svg
  packages/project-disaster-trail/assets/water.svg
  packages/project-disaster-trail/src/components/Game/Orb.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/SolveScreen.js
  packages/project-disaster-trail/src/constants/items.js
  packages/project-disaster-trail/src/constants/tasks.js
Labels: project:disaster-resilience

#916 Feature/game style
  packages/project-disaster-trail/src/components/Game/AttractorScreen/index.js
  packages/project-disaster-trail/src/components/Game/KitScreen/index.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/SolveScreen.js
  packages/project-disaster-trail/src/components/Game/index.js
  packages/project-disaster-trail/src/components/atoms/Ticker/index.js
  packages/project-disaster-trail/src/constants/style.js
  packages/project-disaster-trail/src/state/chapters.js
Labels: project:disaster-resilience

#917 Feature/interface style
  packages/project-disaster-trail/src/components/Game/KitScreen/Kit.js
  packages/project-disaster-trail/src/components/Game/KitScreen/index.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/index.js
  packages/project-disaster-trail/src/components/Game/index.js
  packages/project-disaster-trail/src/components/atoms/ChapterButtons.js
  packages/project-disaster-trail/src/components/atoms/MatchLockInterface/index.js
  packages/project-disaster-trail/src/components/atoms/Orb.js
  packages/project-disaster-trail/src/components/atoms/OrbManager.js
  packages/project-disaster-trail/src/components/atoms/OrbManagerHelpers.js
  packages/project-disaster-trail/src/components/atoms/RadialGauge.js
  packages/project-disaster-trail/src/components/atoms/TitleBar/index.js
Labels: project:disaster-resilience

#920 Add map icons
  packages/project-disaster-trail/assets/task_icons/hole.svg
  packages/project-disaster-trail/assets/task_icons/injury.svg
  packages/project-disaster-trail/assets/task_icons/sprites.png
  packages/project-disaster-trail/src/components/Game/TaskScreen/TaskMap.js
Labels: project:disaster-resilience

#919 Added Material UI theme to Select, ButtonNew, Checkbox and RadioButtonGroup components
  packages/component-library/src/ButtonNew/ButtonNew.js
  packages/component-library/src/Checkbox/Checkbox.js
  packages/component-library/src/Select/Select.js
  packages/component-library/src/_Themes/MaterialUI/MaterialUITheme.js
Labels: type:component-lib

#927 Feature/vote screen
  packages/project-disaster-trail/assets/task_icons/cold.svg
  packages/project-disaster-trail/assets/task_icons/dust.svg
  packages/project-disaster-trail/assets/task_icons/fire.svg
  packages/project-disaster-trail/assets/task_icons/hole.svg
  packages/project-disaster-trail/assets/task_icons/hunger.svg
  packages/project-disaster-trail/assets/task_icons/injury.svg
  packages/project-disaster-trail/assets/task_icons/lost-pet.svg
  packages/project-disaster-trail/assets/task_icons/rubble.svg
  packages/project-disaster-trail/assets/task_icons/thirst.svg
  packages/project-disaster-trail/assets/task_icons/weather.svg
  packages/project-disaster-trail/src/components/Game/AttractorScreen/index.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/TaskMap.js
  packages/project-disaster-trail/src/components/atoms/MatchLockInterface/index.js
  packages/project-disaster-trail/src/components/atoms/Orb.js
  packages/project-disaster-trail/src/components/atoms/OrbManager.js
  packages/project-disaster-trail/src/components/atoms/Ticker/index.js
  packages/project-disaster-trail/src/constants/tasks.js
Labels: project:disaster-resilience

#1056 Fix production build of the disaster game
  packages/2019-disaster-game/src/components/Game/KitScreen/index.js
Labels: project:disaster-resilience

#1055 WIP - Refactor the disaster task screen game state
  packages/2019-disaster-game/src/components/Game/TaskScreen/SolveScreen.js
  packages/2019-disaster-game/src/components/Game/TaskScreen/VoteMapScreen.js
  packages/2019-disaster-game/src/components/Game/TaskScreen/index.js
  packages/2019-disaster-game/src/components/Game/TaskScreen/mapUtils.js
  packages/2019-disaster-game/src/components/atoms/MatchLockInterface/index.js
  packages/2019-disaster-game/src/components/atoms/OrbManager.js
  packages/2019-disaster-game/src/components/atoms/OrbManagerHelpers.js
  packages/2019-disaster-game/src/constants/chapters.js
  packages/2019-disaster-game/src/constants/tasks.js
  packages/2019-disaster-game/src/constants/tickerTape.js
  packages/2019-disaster-game/src/state/tasks.js
  packages/component-library/src/CardList/ProjectCard.js
  packages/component-library/src/Select/Select.js
Labels: project:disaster-resilience

#1057 Restart the game and refresh all relevant state
  packages/2019-disaster-game/src/components/Game/SummaryScreen/index.js
  packages/2019-disaster-game/src/state/chapters.js
  packages/2019-disaster-game/src/state/kit.js
  packages/2019-disaster-game/src/state/tasks.js
  packages/2019-disaster-game/src/state/user.js
Labels: project:disaster-resilience

#1061 Feature/ui updates
  packages/2019-disaster-game/assets/earthquake-heroes.svg
  packages/2019-disaster-game/assets/earthquake_heroes_logo.svg
  packages/2019-disaster-game/src/components/Game/AttractorScreen/index.js
  packages/2019-disaster-game/src/components/Game/KitScreen/index.js
  packages/2019-disaster-game/src/components/atoms/DurationBar/index.js
  packages/2019-disaster-game/src/components/atoms/MatchLockInterface/index.js
  packages/2019-disaster-game/src/components/atoms/TitleBar/index.js
  packages/2019-disaster-game/src/constants/style.js
Labels: project:disaster-resilience
