Repository hackoregon/civic, pull requests merged in 2019-07, with the labels that each got.

#632 Feature active state
  packages/project-disaster-trail/package.json
  packages/project-disaster-trail/src/components/Game/Orb.js
  packages/project-disaster-trail/src/components/Game/RadialGauge.js
  packages/project-disaster-trail/src/components/Game/index.js
  yarn.lock
Labels: project:disaster-resilience

#628 Design System Story Pattern documentation
  packages/component-library/stories/README.md
Labels: type:Storybook

#643 Disaster/redux
  packages/project-disaster-trail/.babelrc
  packages/project-disaster-trail/LICENSE
  packages/project-disaster-trail/README.md
  packages/project-disaster-trail/mocha.opts
  packages/project-disaster-trail/package-lock.json
  packages/project-disaster-trail/package.json
  packages/project-disaster-trail/server.js
  packages/project-disaster-trail/src/client.js
  packages/project-disaster-trail/src/components/App/index.js
  packages/project-disaster-trail/src/components/Game/Orb.js
  packages/project-disaster-trail/src/components/Game/OrbManager.js
  packages/project-disaster-trail/src/components/Game/RadialGauge.js
  packages/project-disaster-trail/src/components/Game/index.js
  packages/project-disaster-trail/src/components/LandingPage/index.js
  packages/project-disaster-trail/src/components/RootPage/index.js
  packages/project-disaster-trail/src/configureStore.js
  packages/project-disaster-trail/src/constants/chapters.js
  packages/project-disaster-trail/src/constants/items.js
  packages/project-disaster-trail/src/favicon.ico
  packages/project-disaster-trail/src/index.js
  packages/project-disaster-trail/src/middleware/index.js
  packages/project-disaster-trail/src/middleware/sideEffectsMiddleware.js
  packages/project-disaster-trail/src/middleware/sideEffectsMiddleware.test.js
  packages/project-disaster-trail/src/routes.js
  packages/project-disaster-trail/src/state/chapters.js
  packages/project-disaster-trail/src/state/common-action-emitter.js
  packages/project-disaster-trail/src/state/factories/ChapterFactory.js
  packages/project-disaster-trail/src/state/fetch-adapter.js
  packages/project-disaster-trail/src/state/hooks/useChapters.js
  packages/project-disaster-trail/src/state/index.js
  packages/project-disaster-trail/src/state/items.js
  packages/project-disaster-trail/src/state/kit.js
  packages/project-disaster-trail/src/state/selectors/index.js
  packages/project-disaster-trail/src/state/selectors/index.test.js
  packages/project-disaster-trail/src/state/utils.js
  packages/project-disaster-trail/src/webpack-public-path.js
  packages/project-disaster-trail/tools/testSetup.js
  packages/project-disaster-trail/webpack.config.js
  yarn.lock
Labels: project:disaster-resilience

#641 Create CIVIC Checkbox component using Material UI Checkbox
  packages/component-library/package.json
  packages/component-library/src/Checkbox/Checkbox.js
  packages/component-library/src/index.js
  packages/component-library/stories/Checkbox.story.js
  packages/component-library/stories/checkbox.notes.md
  packages/component-library/stories/index.js
  yarn.lock
Labels: type:component-lib, type:story-card

#661 Feature/fill kit ui
  packages/project-disaster-trail/src/components/Game/KitItem.js
  packages/project-disaster-trail/src/components/Game/KitScreen.js
  packages/project-disaster-trail/src/constants/items.js
  packages/project-disaster-trail/src/state/index.js
  packages/project-disaster-trail/src/state/items.js
  packages/project-disaster-trail/src/state/kit.js
Labels: project:disaster-resilience

#658 Feature/slow river
  packages/project-disaster-trail/src/components/Game/Orb.js
  packages/project-disaster-trail/src/components/Game/OrbManager.js
  packages/project-disaster-trail/src/components/Game/RadialGauge.js
  packages/project-disaster-trail/src/components/Game/index.js
  packages/project-disaster-trail/src/state/factories/ChapterFactory.js
Labels: project:disaster-resilience

#521 Lint 2018-neighborhood-development package
  packages/2018-neighborhood-development/package.json
  packages/2018-neighborhood-development/src/components/App/index.js
  packages/2018-neighborhood-development/src/components/ClassSizeAndQuality/index.js
  packages/2018-neighborhood-development/src/components/DiveDeeperIntoNeighborhoodData/index.js
  packages/2018-neighborhood-development/src/components/ExploreAgeDemographics/index.js
  packages/2018-neighborhood-development/src/components/ExploreUrbanCampsiteSweeps/index.js
  packages/2018-neighborhood-development/src/components/HumanImpactOfSweepingUrbanCampsites/index.js
  packages/2018-neighborhood-development/src/components/MagnitudeOfUrbanCampsiteSweeps/index.js
  packages/2018-neighborhood-development/src/components/NeighborhoodsThroughTheAges/index.js
  packages/2018-neighborhood-development/src/components/StudentEnrollmentTrends/index.js
  packages/2018-neighborhood-development/src/components/UnderstandingStaffCuts/index.js
  packages/2018-neighborhood-development/src/components/VotersOnTheMove/index.js
  packages/2018-neighborhood-development/src/registry.js
  packages/2018-neighborhood-development/src/state/class-size-and-quality/selectors.test.js
  packages/2018-neighborhood-development/src/state/explore-urban-campsite-sweeps/explore-urban-campsite-sweeps.test.js
  packages/2018-neighborhood-development/src/state/neighborhoods-through-the-ages/neighborhoods-through-the-ages.test.js
  yarn.lock
Labels: good-first-review

#657 DurationBar component for the project-disaster-trail game.
  packages/project-disaster-trail/src/components/Game/DurationBar.js
  packages/project-disaster-trail/src/components/Game/index.js
Labels: project:disaster-resilience

#679 Feature/task state
  packages/project-disaster-trail/src/components/Game/TaskScreen.js
  packages/project-disaster-trail/src/components/Game/index.js
  packages/project-disaster-trail/src/constants/items.js
  packages/project-disaster-trail/src/constants/tasks.js
  packages/project-disaster-trail/src/state/chapters.js
  packages/project-disaster-trail/src/state/index.js
  packages/project-disaster-trail/src/state/tasks.js
Labels: project:disaster-resilience

#683 Feature/task mechanics
  packages/project-disaster-trail/src/components/Game/ChapterButtons.js
  packages/project-disaster-trail/src/components/Game/DurationBar.js
  packages/project-disaster-trail/src/components/Game/KitScreen.js
  packages/project-disaster-trail/src/components/Game/TaskScreen.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/ChooseScreen.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/SolveScreen.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/index.js
  packages/project-disaster-trail/src/components/Game/index.js
  packages/project-disaster-trail/src/state/tasks.js
Labels: project:disaster-resilience

#684 Feature/more task mechanics
  packages/project-disaster-trail/src/components/Game/TaskScreen/ChooseScreen.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/SolveScreen.js
  packages/project-disaster-trail/src/components/Game/TaskScreen/index.js
  packages/project-disaster-trail/src/constants/tasks.js
  packages/project-disaster-trail/src/state/settings.js
  packages/project-disaster-trail/src/state/tasks.js
Labels: project:disaster-resilience
